body {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#header {
  height: 75px;
  background-color: pink;
  width: 100%;
}

#content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background-color: antiquewhite;
}

#footer {
  height: 50px;
  background-color: cornflowerblue;
  width: 100%;
}

#calculator {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 8px;
  background-color: brown;
}
