#header {
  position: fixed;
  top: 0;
  height: 75px;
  background-color: pink;
  width: 100%;
}

#content {
  height: 100%;
  overflow-y: auto;
  margin-top: 75px;
  margin-bottom: 50px;
  background-color: antiquewhite;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: cornflowerblue;
  width: 100%;
}

#calculator {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 8px;
  background-color: brown;
}